{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*features-list*.js",
      "options": {
        "printWidth": 200
      }
    },
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
